*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
nav ul{
    text-align: center;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
}
nav ul li a:hover{
    background-color: black;
    color: white;
}
.item h3{
    text-align: center;
    padding: 30px 10px;
    font-size: x-large;
}
.item h2{
    text-align: center;
    padding: 20px 30px;
}
.item li{
    font-size: larger;
    padding: 10px 10px;
}
footer{
    color: black;
    text-align: center;
    font-size: 30px;

    padding-top: 20px;
    padding-bottom: 20px;
}
@media all and (max-width: 1000px) {
}
@media all and (max-width: 500px) {
}
@media all and (max-width: 250px) {
}
@media all and (max-width: 150px) {
}
@media all and (max-width: 100px) {
}